$primary-color: #020422;

.row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.title {
  font-size: 19px;
  margin-bottom: 0;
}

.border-top-unset {
  border-top: unset;
}

.border-left-unset {
  border-left: unset;
}

.border-bottom-unset {
  border-bottom: unset;
}

.border-right-unset {
  border-right: unset;
}

.sortBy {
  font-size: 11px;
  font-weight: 400;
}

.americanFlag {
  height: 21px;
  width: auto;
  position: relative;
  top: -1.8px;
}

.sidebar {
  background-color: $primary-color;
  border-right: 0;
  box-shadow: 0 0 2rem 0 rgb(0 0 0 / 5%);
  width: 230px;
  transition: margin-left .3s ease-in-out, left .3s ease-in-out, margin-right .3s ease-in-out, right .3s ease-in-out;
  z-index: 1;

  .toogleContainer {
    padding: 10px 9px;
  }

  .toggleIcon {
    color: #707081;
  }

  .menuSubHeading {

    padding-left: 0.7rem;

    p {
      padding-left: 0.6rem;
      font-size: 0.9rem;
      color: #818297;
    }

  }

  #sidebarToggle {
    margin-left: auto;
  }

  .sidebarHeading button {
    padding-left: 0.6rem;
    font-size: 0.9rem;
    color: #818297;
    padding-top: 0;
    padding-bottom: 0;
  }


  .menu-title {
    background: transparent;
    color: #adb5bd;
    font-size: .75rem;
    font-weight: 500;
    padding: 0.375rem 0.8rem;
    text-transform: none;
    margin-bottom: 0;
    text-transform: uppercase;
  }

  p {
    padding: 0.6rem;
    margin-bottom: 0;
  }

  .accordion-item:first-of-type {
    border-top-right-radius: unset;
  }

  .accordion-item {
    border: unset;
    background: #343a40;
  }

  .accordion-body,
  .accordion-button,
  .accordion-button:not(.collapsed) {
    background-color: $primary-color;
    box-shadow: unset;
    color: #818297;
    padding-top: 0;
    padding-bottom: 0;
  }

  .accordion-button:focus {
    z-index: 3;
    border-color: unset;
    outline: 0;
    box-shadow: unset;
  }

  .accordion-button::after {
    content: "";
    background-size: 14px 14px;
    color: #fff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='%23fff' class='w-6 h-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M19.5 8.25l-7.5 7.5-7.5-7.5' /%3E%3C/svg%3E%0A");
  }

  .accordion-button:not(.collapsed) {
    color: #fff;
  }

  .accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='%23fff' class='w-6 h-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M19.5 8.25l-7.5 7.5-7.5-7.5' /%3E%3C/svg%3E%0A");
  }

  ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
  }

  li:last-child {
    margin-bottom: 0;
  }

  li {
    margin-bottom: 15px;
    color: #818297;
    font-size: 0.9rem;
    padding-left: 17px;
  }

}

.semiDonutContainer {
  position: relative;
  padding: 0 67px;
  text-align: center;

  .percent {
    position: absolute;
    left: 50%;
    top: 59%;
    transform: translate(-50%, 0);
    font-size: 25px;
    bottom: 0;
  }

}

.semiDonutContent {
  h6 {
    font-size: 1.4rem;
  }

  .offsetFonts {
    margin-bottom: 5px;
    color: #626262;
  }

  .symbol-value {
    margin-right: 10px;
  }
}

.main {
  background-color: #f3f3f8;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 0;
  transition: margin-left .3s ease-in-out, left .3s ease-in-out, margin-right .3s ease-in-out, right .3s ease-in-out;
  width: 100%;
}

.main:not(.toggled) {
  border-top-left-radius: 30px;
  transition: .6s;
}

body {
  background-color: #020422 !important;
}

.App {
  align-items: stretch;
  display: flex;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.ellipsis {
  color: #828282;
}

.secondary-title {
  font-size: 16px;
  font-weight: 500;
}

.detail-section {

  .detail-card {
    background: #fff;
    border-radius: 15px;
    padding: 10px 20px;
    align-items: baseline;
    justify-content: space-between;
  }

  .symbol {
    background-color: #4285f4;
    color: #fff;
    width: 39px;
    height: 39px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 11px;
  }

  .symbol img {
    width: 55px;
    margin-right: 15px;
  }

  .symbol-content {

    p {
      margin-bottom: 0px;
      font-size: 13px;
    }

    h4 {
      font-size: 18px;
      margin-bottom: 0;
    }

  }


}


.symbol-value {

  p {
    background: #e5f7e2;
    font-size: 10px;
    padding: 3px 6px;
    margin-bottom: 0;
    color: #517d58 !important;
    border-radius: 13px;
    font-weight: 700;
  }

}

.symbol-value.danger {
  p {
    color: red !important;
    background: #fcf1f1;
  }
}

.sidebar.toggled {
  margin-left: -230px;
}

.navbar-nav {
  align-items: center;

  a {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

}

.card {
  border: unset !important;
  border-radius: 15px;

  .card-header {
    border-bottom: unset;
    background: #fff;
  }

}

.table-striped>tbody>tr:nth-of-type(odd)>* {
  --bs-table-accent-bg: #fff !important;
}

table p {
  margin-bottom: 0;
}

.table-tile {
  font-size: 13px;
}

.table-rate {
  font-weight: 600;
  font-size: 18px;
}

.rightSidebar {
  border-radius: 15px;
  background: #fff;
  display: flex;
  flex-direction: column;

  .sidebarContent {

    text-align: center;
    background-image: url(../public/images/profile-banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 15vh;
    background-position: center;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;



  }

  .profile {
    text-align: center;
    position: relative;
    top: -31px;

    img {
      width: 65px;
      height: 65px;
      border-radius: 32px;
    }

    .personName {
      font-weight: 700;
      margin-bottom: 0;
    }

    .PersonWork {
      font-size: 13px;
      margin-bottom: 0;
      color: #a7a1a1;
    }
  }

}

.bdRight {
  border-right: 1px solid #dee2e6;
}

.followers {

  text-align: center;
  border-bottom: 1px solid #dee2e6;

  p {
    margin-bottom: 0;
  }

  .small {
    margin-bottom: 25px;
    color: #a7a1a1;
  }
}

.card-header {
  font-size: 16px;
  font-weight: 500;
}

.card.chartCard {
  border-radius: 15px;

  .card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .card-header:first-child {
    border-radius: inherit;
  }

  select {
    width: fit-content;
    border: unset;
    background-size: 8px 9px;
    font-size: 12px;
  }
}

// preethi

.profile-pic {
  width: auto;
  height: 36px;
  border-radius: 17px;
}

.recent {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.recentContent p {
  font-size: 15px;
}

.date {

  background: #f0eeee;
  padding: 4px 13px;
  text-align: center;
  font-weight: 500;
  border-radius: 10px;
  line-height: 19px;
  margin-right: 13px;

  p {
    margin-bottom: 0;
  }
}

.card.chartCard {
  border-radius: 15px;

  .card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .card-header:first-child {
    border-radius: inherit;
  }


}

.secondary-card-header {
  padding: var(--bs-card-cap-padding-y) var(--bs-card-cap-padding-x);

  p {
    margin-bottom: 0px;
    font-size: 13px;
  }

  h4 {
    font-size: 1.1rem;
    margin-bottom: 0;
  }
}

.topProductsContainer {
  .count {
    margin-right: 15px;
  }
}

.third-card-header {
  padding-top: 0;
  padding-bottom: 0;
  text-align: right;

  button {
    background-color: transparent;
    color: #000;
    border: unset;
    font-size: 13px;
  }

  span.bg-success {
    background-color: #3b76e1 !important;
    padding: 0.4rem !important;
  }

  span.bg-danger {
    background-color: #f36e6f !important;
    padding: 0.4rem !important;
  }

  .btn:focus-visible,
  .btn:hover,
  .btn:active {
    color: unset !important;
    background-color: unset !important;
    border-color: unset !important;
  }
}

.month-revenue {

  p {
    font-size: 12px;
    color: #6e6f70;
  }
}

.topProducts {

  display: flex;
  justify-content: space-between;

  .count p {
    margin-bottom: 0;
    background: #4076d6;
    color: #fff;
    border-radius: 13px;
    font-size: 14px;
    width: 36px;
    height: auto;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .productContent p {
    font-size: 13px;
    color: #6e6f70;
    margin-bottom: 0;
  }

  .productCost {
    font-size: 12px !important;
    font-weight: 600;
    color: #000 !important;
  }

  .productRevenue p {
    font-size: 12px;
    background: #f0eeee;
    padding: 4px 14px;
    border-radius: 7px;
    font-weight: 500;
  }
}